.sidebar {
    min-height: calc(100vh);
    background: var(--chakra-colors-bg);
    overflow-x: hidden;
    padding: 7px;

    & ul {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
}

.sidebar__link {
    color: var(--chakra-colors-fg-muted);
    background-color: transparent;
    font-size: 13px;
    width: 100%;
    max-width: 100%;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    border-radius: 5px;
    padding: 6px 9px;

    transition:
            color .2s,
            background-color .2s;

    &:hover {
        background-color: var(--chakra-colors-gray-subtle);
    }
}

.sidebar__link[data-active="true"] {
    background: var(--chakra-colors-color-palette-subtle);
    color: var(--chakra-colors-color-palette-fg);
}

/* mobile devices */
@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
}