.dropdown__select {
    position: relative;
    min-width: 400px;
    width: 400px;
}

.dropdown__select[data-open="true"] .dropdown__options {
    max-height: 279px;
    opacity: 1;
    transform: scaleY(1);

    .dropdown__footer {
        opacity: 1;
    }
}

.dropdown__options {
    outline: none;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transform: scaleY(0.95);
    transform-origin: top;
    transition: max-height 0.15s ease-out, opacity 0.15s ease-out, transform 0.15s ease-out;
    margin-top: 4px;

    .dropdown__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #414141;
        padding: 9px 7px;
        margin: 14px 0 0 0;
        opacity: 0;
    }
}

.group-movies__title {
    color: var(--chakra-colors-color-palette-solid);
    text-align: start;
}

button {
    outline: none;
}


/* mobile devices */
@media (max-width: 576px) {
    .dropdown__select {
        min-width: 200px;
        width: 100%;
    }
}
