.dropdown__select {
    position: relative;
    min-width: 400px;
    width: 400px;
}

.dropdown__options {
    .footer {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #414141;
        padding: 9px 7px;
        margin: 14px 0 0 0;
    }
}

.group-movies__title {
    color: #20df9ec4;
    text-align: start;
}


/* mobile devices */
@media (max-width: 576px) {
    .dropdown__select {
        min-width: 200px;
        width: 100%;
    }
}
