:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

:root {
  --chakra-colors-bg: var(--chakra-colors-black);
  --chakra-colors-bg-subtle: var(--chakra-colors-gray-950);
  --chakra-colors-bg-muted: var(--chakra-colors-gray-900);
  --chakra-colors-bg-emphasized: var(--chakra-colors-gray-800);
  --chakra-colors-bg-inverted: var(--chakra-colors-white);
  --chakra-colors-bg-panel: var(--chakra-colors-gray-950);
  --chakra-colors-bg-error: var(--chakra-colors-red-950);
  --chakra-colors-bg-warning: var(--chakra-colors-orange-950);
  --chakra-colors-bg-success: var(--chakra-colors-green-950);
  --chakra-colors-bg-info: var(--chakra-colors-blue-950);
  --chakra-colors-fg: var(--chakra-colors-gray-50);
  --chakra-colors-fg-muted: var(--chakra-colors-gray-400);
  --chakra-colors-fg-subtle: var(--chakra-colors-gray-500);
  --chakra-colors-fg-inverted: var(--chakra-colors-black);
  --chakra-colors-fg-error: var(--chakra-colors-red-400);
  --chakra-colors-fg-warning: var(--chakra-colors-orange-300);
  --chakra-colors-fg-success: var(--chakra-colors-green-300);
  --chakra-colors-fg-info: var(--chakra-colors-blue-300);
  --chakra-colors-border: var(--chakra-colors-gray-800);
  --chakra-colors-border-muted: var(--chakra-colors-gray-900);
  --chakra-colors-border-subtle: var(--chakra-colors-gray-950);
  --chakra-colors-border-emphasized: var(--chakra-colors-gray-700);
  --chakra-colors-border-inverted: var(--chakra-colors-gray-200);
  --chakra-colors-border-error: var(--chakra-colors-red-400);
  --chakra-colors-border-warning: var(--chakra-colors-orange-400);
  --chakra-colors-border-success: var(--chakra-colors-green-400);
  --chakra-colors-border-info: var(--chakra-colors-blue-400);
  --chakra-colors-gray-contrast: var(--chakra-colors-black);
  --chakra-colors-gray-fg: var(--chakra-colors-gray-200);
  --chakra-colors-gray-subtle: var(--chakra-colors-gray-900);
  --chakra-colors-gray-muted: var(--chakra-colors-gray-800);
  --chakra-colors-gray-emphasized: var(--chakra-colors-gray-700);
  --chakra-colors-gray-solid: var(--chakra-colors-white);
  --chakra-colors-gray-focus-ring: var(--chakra-colors-gray-400);
  --chakra-colors-red-contrast: white;
  --chakra-colors-red-fg: var(--chakra-colors-red-300);
  --chakra-colors-red-subtle: var(--chakra-colors-red-900);
  --chakra-colors-red-muted: var(--chakra-colors-red-800);
  --chakra-colors-red-emphasized: var(--chakra-colors-red-700);
  --chakra-colors-red-solid: var(--chakra-colors-red-600);
  --chakra-colors-red-focus-ring: var(--chakra-colors-red-500);
  --chakra-colors-orange-contrast: black;
  --chakra-colors-orange-fg: var(--chakra-colors-orange-300);
  --chakra-colors-orange-subtle: var(--chakra-colors-orange-900);
  --chakra-colors-orange-muted: var(--chakra-colors-orange-800);
  --chakra-colors-orange-emphasized: var(--chakra-colors-orange-700);
  --chakra-colors-orange-solid: var(--chakra-colors-orange-500);
  --chakra-colors-orange-focus-ring: var(--chakra-colors-orange-500);
  --chakra-colors-green-contrast: white;
  --chakra-colors-green-fg: var(--chakra-colors-green-300);
  --chakra-colors-green-subtle: var(--chakra-colors-green-900);
  --chakra-colors-green-muted: var(--chakra-colors-green-800);
  --chakra-colors-green-emphasized: var(--chakra-colors-green-700);
  --chakra-colors-green-solid: var(--chakra-colors-green-600);
  --chakra-colors-green-focus-ring: var(--chakra-colors-green-500);
  --chakra-colors-blue-contrast: white;
  --chakra-colors-blue-fg: var(--chakra-colors-blue-300);
  --chakra-colors-blue-subtle: var(--chakra-colors-blue-900);
  --chakra-colors-blue-muted: var(--chakra-colors-blue-800);
  --chakra-colors-blue-emphasized: var(--chakra-colors-blue-700);
  --chakra-colors-blue-solid: var(--chakra-colors-blue-600);
  --chakra-colors-blue-focus-ring: var(--chakra-colors-blue-500);
  --chakra-colors-yellow-contrast: black;
  --chakra-colors-yellow-fg: var(--chakra-colors-yellow-300);
  --chakra-colors-yellow-subtle: var(--chakra-colors-yellow-900);
  --chakra-colors-yellow-muted: var(--chakra-colors-yellow-800);
  --chakra-colors-yellow-emphasized: var(--chakra-colors-yellow-700);
  --chakra-colors-yellow-solid: var(--chakra-colors-yellow-300);
  --chakra-colors-yellow-focus-ring: var(--chakra-colors-yellow-500);
  --chakra-colors-teal-contrast: white;
  --chakra-colors-teal-fg: var(--chakra-colors-teal-300);
  --chakra-colors-teal-subtle: var(--chakra-colors-teal-900);
  --chakra-colors-teal-muted: var(--chakra-colors-teal-800);
  --chakra-colors-teal-emphasized: var(--chakra-colors-teal-700);
  --chakra-colors-teal-solid: var(--chakra-colors-teal-600);
  --chakra-colors-teal-focus-ring: var(--chakra-colors-teal-500);
  --chakra-colors-purple-contrast: white;
  --chakra-colors-purple-fg: var(--chakra-colors-purple-300);
  --chakra-colors-purple-subtle: var(--chakra-colors-purple-900);
  --chakra-colors-purple-muted: var(--chakra-colors-purple-800);
  --chakra-colors-purple-emphasized: var(--chakra-colors-purple-700);
  --chakra-colors-purple-solid: var(--chakra-colors-purple-600);
  --chakra-colors-purple-focus-ring: var(--chakra-colors-purple-500);
  --chakra-colors-pink-contrast: white;
  --chakra-colors-pink-fg: var(--chakra-colors-pink-300);
  --chakra-colors-pink-subtle: var(--chakra-colors-pink-900);
  --chakra-colors-pink-muted: var(--chakra-colors-pink-800);
  --chakra-colors-pink-emphasized: var(--chakra-colors-pink-700);
  --chakra-colors-pink-solid: var(--chakra-colors-pink-600);
  --chakra-colors-pink-focus-ring: var(--chakra-colors-pink-500);
  --chakra-colors-cyan-contrast: white;
  --chakra-colors-cyan-fg: var(--chakra-colors-cyan-300);
  --chakra-colors-cyan-subtle: var(--chakra-colors-cyan-900);
  --chakra-colors-cyan-muted: var(--chakra-colors-cyan-800);
  --chakra-colors-cyan-emphasized: var(--chakra-colors-cyan-700);
  --chakra-colors-cyan-solid: var(--chakra-colors-cyan-600);
  --chakra-colors-cyan-focus-ring: var(--chakra-colors-cyan-500);
  --chakra-shadows-xs: 0px 1px 1px
  color-mix(in srgb, black 64%, transparent), 0px 0px 1px inset
  color-mix(in srgb, var(--chakra-colors-gray-300) 20%, transparent);
  --chakra-shadows-sm: 0px 2px 4px
  color-mix(in srgb, black 64%, transparent), 0px 0px 1px inset
  color-mix(in srgb, var(--chakra-colors-gray-300) 30%, transparent);
  --chakra-shadows-md: 0px 4px 8px
  color-mix(in srgb, black 64%, transparent), 0px 0px 1px inset
  color-mix(in srgb, var(--chakra-colors-gray-300) 30%, transparent);
  --chakra-shadows-lg: 0px 8px 16px
  color-mix(in srgb, black 64%, transparent), 0px 0px 1px inset
  color-mix(in srgb, var(--chakra-colors-gray-300) 30%, transparent);
  --chakra-shadows-xl: 0px 16px 24px
  color-mix(in srgb, black 64%, transparent), 0px 0px 1px inset
  color-mix(in srgb, var(--chakra-colors-gray-300) 30%, transparent);
  --chakra-shadows-2xl: 0px 24px 40px
  color-mix(in srgb, black 64%, transparent), 0px 0px 1px inset
  color-mix(in srgb, var(--chakra-colors-gray-300) 30%, transparent);
  --chakra-shadows-inner: inset 0 2px 4px 0 black;
  --chakra-shadows-inset: inset 0 0 0 1px
  color-mix(in srgb, var(--chakra-colors-gray-300) 5%, transparent);
  --chakra-colors-color-palette-50: var(--chakra-colors-teal-50);
  --chakra-colors-color-palette-100: var(--chakra-colors-teal-100);
  --chakra-colors-color-palette-200: var(--chakra-colors-teal-200);
  --chakra-colors-color-palette-300: var(--chakra-colors-teal-300);
  --chakra-colors-color-palette-400: var(--chakra-colors-teal-400);
  --chakra-colors-color-palette-500: var(--chakra-colors-teal-500);
  --chakra-colors-color-palette-600: var(--chakra-colors-teal-600);
  --chakra-colors-color-palette-700: var(--chakra-colors-teal-700);
  --chakra-colors-color-palette-800: var(--chakra-colors-teal-800);
  --chakra-colors-color-palette-900: var(--chakra-colors-teal-900);
  --chakra-colors-color-palette-950: var(--chakra-colors-teal-950);
  --chakra-colors-color-palette-contrast: var(--chakra-colors-teal-contrast);
  --chakra-colors-color-palette-fg: var(--chakra-colors-teal-fg);
  --chakra-colors-color-palette-subtle: var(--chakra-colors-teal-subtle);
  --chakra-colors-color-palette-muted: var(--chakra-colors-teal-muted);
  --chakra-colors-color-palette-emphasized: var(--chakra-colors-teal-emphasized);
  --chakra-colors-color-palette-solid: var(--chakra-colors-teal-solid);
  --chakra-colors-color-palette-focus-ring: var(--chakra-colors-teal-focus-ring);
  --chakra-colors-transparent: transparent;
  --chakra-colors-current: currentColor;
  --chakra-colors-black: #09090B;
  --chakra-colors-white: #FFFFFF;
  --chakra-colors-white-alpha-50: rgba(255, 255, 255, 0.04);
  --chakra-colors-white-alpha-100: rgba(255, 255, 255, 0.06);
  --chakra-colors-white-alpha-200: rgba(255, 255, 255, 0.08);
  --chakra-colors-white-alpha-300: rgba(255, 255, 255, 0.16);
  --chakra-colors-white-alpha-400: rgba(255, 255, 255, 0.24);
  --chakra-colors-white-alpha-500: rgba(255, 255, 255, 0.36);
  --chakra-colors-white-alpha-600: rgba(255, 255, 255, 0.48);
  --chakra-colors-white-alpha-700: rgba(255, 255, 255, 0.64);
  --chakra-colors-white-alpha-800: rgba(255, 255, 255, 0.80);
  --chakra-colors-white-alpha-900: rgba(255, 255, 255, 0.92);
  --chakra-colors-white-alpha-950: rgba(255, 255, 255, 0.95);
  --chakra-colors-black-alpha-50: rgba(0, 0, 0, 0.04);
  --chakra-colors-black-alpha-100: rgba(0, 0, 0, 0.06);
  --chakra-colors-black-alpha-200: rgba(0, 0, 0, 0.08);
  --chakra-colors-black-alpha-300: rgba(0, 0, 0, 0.16);
  --chakra-colors-black-alpha-400: rgba(0, 0, 0, 0.24);
  --chakra-colors-black-alpha-500: rgba(0, 0, 0, 0.36);
  --chakra-colors-black-alpha-600: rgba(0, 0, 0, 0.48);
  --chakra-colors-black-alpha-700: rgba(0, 0, 0, 0.64);
  --chakra-colors-black-alpha-800: rgba(0, 0, 0, 0.80);
  --chakra-colors-black-alpha-900: rgba(0, 0, 0, 0.92);
  --chakra-colors-black-alpha-950: rgba(0, 0, 0, 0.95);
  --chakra-colors-gray-50: #fafafa;
  --chakra-colors-gray-100: #f4f4f5;
  --chakra-colors-gray-200: #e4e4e7;
  --chakra-colors-gray-300: #d4d4d8;
  --chakra-colors-gray-400: #a1a1aa;
  --chakra-colors-gray-500: #71717a;
  --chakra-colors-gray-600: #52525b;
  --chakra-colors-gray-700: #3f3f46;
  --chakra-colors-gray-800: #27272a;
  --chakra-colors-gray-900: #18181b;
  --chakra-colors-gray-950: #111111;
  --chakra-colors-red-50: #fef2f2;
  --chakra-colors-red-100: #fee2e2;
  --chakra-colors-red-200: #fecaca;
  --chakra-colors-red-300: #fca5a5;
  --chakra-colors-red-400: #f87171;
  --chakra-colors-red-500: #ef4444;
  --chakra-colors-red-600: #dc2626;
  --chakra-colors-red-700: #991919;
  --chakra-colors-red-800: #511111;
  --chakra-colors-red-900: #300c0c;
  --chakra-colors-red-950: #1f0808;
  --chakra-colors-orange-50: #fff7ed;
  --chakra-colors-orange-100: #ffedd5;
  --chakra-colors-orange-200: #fed7aa;
  --chakra-colors-orange-300: #fdba74;
  --chakra-colors-orange-400: #fb923c;
  --chakra-colors-orange-500: #f97316;
  --chakra-colors-orange-600: #ea580c;
  --chakra-colors-orange-700: #92310a;
  --chakra-colors-orange-800: #6c2710;
  --chakra-colors-orange-900: #3b1106;
  --chakra-colors-orange-950: #220a04;
  --chakra-colors-yellow-50: #fefce8;
  --chakra-colors-yellow-100: #fef9c3;
  --chakra-colors-yellow-200: #fef08a;
  --chakra-colors-yellow-300: #fde047;
  --chakra-colors-yellow-400: #facc15;
  --chakra-colors-yellow-500: #eab308;
  --chakra-colors-yellow-600: #ca8a04;
  --chakra-colors-yellow-700: #845209;
  --chakra-colors-yellow-800: #713f12;
  --chakra-colors-yellow-900: #422006;
  --chakra-colors-yellow-950: #281304;
  --chakra-colors-green-50: #f0fdf4;
  --chakra-colors-green-100: #dcfce7;
  --chakra-colors-green-200: #bbf7d0;
  --chakra-colors-green-300: #86efac;
  --chakra-colors-green-400: #4ade80;
  --chakra-colors-green-500: #22c55e;
  --chakra-colors-green-600: #16a34a;
  --chakra-colors-green-700: #116932;
  --chakra-colors-green-800: #124a28;
  --chakra-colors-green-900: #042713;
  --chakra-colors-green-950: #03190c;
  --chakra-colors-teal-50: #f0fdfa;
  --chakra-colors-teal-100: #ccfbf1;
  --chakra-colors-teal-200: #99f6e4;
  --chakra-colors-teal-300: #5eead4;
  --chakra-colors-teal-400: #2dd4bf;
  --chakra-colors-teal-500: #14b8a6;
  --chakra-colors-teal-600: #0d9488;
  --chakra-colors-teal-700: #0c5d56;
  --chakra-colors-teal-800: #114240;
  --chakra-colors-teal-900: #032726;
  --chakra-colors-teal-950: #021716;
  --chakra-colors-blue-50: #eff6ff;
  --chakra-colors-blue-100: #dbeafe;
  --chakra-colors-blue-200: #bfdbfe;
  --chakra-colors-blue-300: #a3cfff;
  --chakra-colors-blue-400: #60a5fa;
  --chakra-colors-blue-500: #3b82f6;
  --chakra-colors-blue-600: #2563eb;
  --chakra-colors-blue-700: #173da6;
  --chakra-colors-blue-800: #1a3478;
  --chakra-colors-blue-900: #14204a;
  --chakra-colors-blue-950: #0c142e;
  --chakra-colors-cyan-50: #ecfeff;
  --chakra-colors-cyan-100: #cffafe;
  --chakra-colors-cyan-200: #a5f3fc;
  --chakra-colors-cyan-300: #67e8f9;
  --chakra-colors-cyan-400: #22d3ee;
  --chakra-colors-cyan-500: #06b6d4;
  --chakra-colors-cyan-600: #0891b2;
  --chakra-colors-cyan-700: #0c5c72;
  --chakra-colors-cyan-800: #134152;
  --chakra-colors-cyan-900: #072a38;
  --chakra-colors-cyan-950: #051b24;
  --chakra-colors-purple-50: #faf5ff;
  --chakra-colors-purple-100: #f3e8ff;
  --chakra-colors-purple-200: #e9d5ff;
  --chakra-colors-purple-300: #d8b4fe;
  --chakra-colors-purple-400: #c084fc;
  --chakra-colors-purple-500: #a855f7;
  --chakra-colors-purple-600: #9333ea;
  --chakra-colors-purple-700: #641ba3;
  --chakra-colors-purple-800: #4a1772;
  --chakra-colors-purple-900: #2f0553;
  --chakra-colors-purple-950: #1a032e;
  --chakra-colors-pink-50: #fdf2f8;
  --chakra-colors-pink-100: #fce7f3;
  --chakra-colors-pink-200: #fbcfe8;
  --chakra-colors-pink-300: #f9a8d4;
  --chakra-colors-pink-400: #f472b6;
  --chakra-colors-pink-500: #ec4899;
  --chakra-colors-pink-600: #db2777;
  --chakra-colors-pink-700: #a41752;
  --chakra-colors-pink-800: #6d0e34;
  --chakra-colors-pink-900: #45061f;
  --chakra-colors-pink-950: #2c0514;
}
